---
// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

import logoGrande from "src/images/logo_grande.png";
import { Image } from "astro:assets";
---

<section
  class="h-20 w-[1500px] flex justify-center items-center px-2 py-4 sm:px-3 lg:px-4 lg:py-6 2xl:max-w-full"
>
  <Image src={logoGrande} class={"h-20 w-fit object-cover"} alt="Logo del instituto de emprendimiento" />
</section>
