/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --primary-button-hover: #322bc3;
  --backdrop-color: #272727cc;
  --sl-color-white: #fff;
  --accent-hsl: 242, 56%, 54%;
  --overlay-accent: hsla(var(--accent-hsl), 0.2);
  --border: hsla(var(--border-neutral), 0.4);
  --border-neutral: 0, 0%, 25.1%;
}

:root[data-theme="light"] {
  --primary-button-hover: #322bc3;
  --sl-color-white: #181818;
  --accent-hsl: 242, 56%, 54%;
  --border-accent: 238, 56%, 89%;
  --border: hsla(var(--border-accent), 0.4);
}

.page {
  background:
    linear-gradient(215deg, var(--overlay-accent), transparent 40%),
    radial-gradient(var(--overlay-accent), transparent 40%) no-repeat center
      center / cover,
    radial-gradient(var(--overlay-accent), transparent 65%) no-repeat center
      center / cover;
  background-blend-mode: overlay;
}

header {
  border: none !important;
  padding: 0 !important;
}

header.header {
  background-color: transparent !important;
  height: 4.5rem !important;
  margin-inline: auto !important;
  padding-block: 0 !important;
  padding-inline: 2rem !important;
}

header > div:first-of-type {
  backdrop-filter: blur(12px) !important;
  background-color: var(--backdrop-color) !important;
  border: 1px var(--border) solid;
  border-radius: 36px;
  height: 100% !important;
  margin-inline: auto !important;
  margin-top: 1rem !important;
  max-width: 1536px;
  padding-inline: 2rem !important;
  width: auto !important;
}

select {
  background-image: none;
  box-shadow: none;
}

.sl-flex.action.primary:hover {
  background-color: var(--primary-button-hover);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-flex.action.primary:hover svg {
  transform: translateX(0.25rem);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
